html {
    background-color: rgb(199, 199, 196);
}

main {
    max-width: 1200px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ambitions-progress {
    display: flex;
    justify-content: space-between;
}

.blocks {
    display: flex;
}

.structure-block {
    /*max-width: 300px ;*/
    margin: 10px;
    font-size: 1.2em;
    padding: 0 30px 0 30px;
}

.str1 {
    flex: 4;
}

.newDiv {
    flex: 2;
}


section {
    border-radius: 20px;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(239, 239, 236);
}

.name-and-foto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img {
    width: 15%;
    /*flex:1;*/
    height: 15%;
    padding: 20px;
    border-radius: 30px;
    margin-right: 30px;
}

.name-p {
    padding: 20px;
    font-size: 1.7em;
    margin: auto;
}

.vert {
    height: 1px !important;
    background-color: black;
}

.hor {
    width: 1px !important;
    background-color: black;
}

progress {
    border-radius: 7px;
    height: 15px;
    margin: 0 0 0 5px;
}

    progress::-webkit-progress-bar {
        background-color: rgba(116, 116, 116,0.2);
    }

    progress::-webkit-progress-value {
        background-color: rgb(0, 0, 0);
    }

a {
    text-decoration: none;
}