@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section>
        <div class="name-and-foto">
            <p class="name-p"> <b>Руссу Артём Андреевич</b><br><br>Республика Беларусь, Брестская область, город Пинск<br>Год рождения: 2007</p>
            <img src="~/css/images/foto.jpg" alt="Фото" />
        </div>
        <hr class="vert">
        <div class="blocks">
            <div class="structure-block str1">
                <div>
                    <h3>О себе</h3>
                </div>
                <div class="ambitions-block">
                    <p>
                        Меня зовут Артём. Я начинающий программист.<br><br>
                        Имею опыт работы на игровом движке Unity, c микроконтроллером Arduino, умею работать с базами данных,
                        могу сверстать сайт по макету, создать 3D модель в Blender или в 3ds Max.<br><br>
                        Заканчивал курсы в школе программирования PRO_It, имею среднее образование.<br><br>
                        Из навыков, отличное понимание алгоритмизации, навык разбирать и понимать чужой код,
                        легкообучаемый.
                        Опыта работы по специальности нет.<br><br>
                    </p>
                </div>
            </div>
            <hr class="hor">

            <div class="newDiv">
                <div class="structure-block">
                    <div>
                        <h3>Языки</h3>
                    </div>
                    <div class="ambitions-block">
                        <span class="ambitions-progress">Python <progress max="100" value="75"></progress></span>
                        <span class="ambitions-progress">C# <progress max="100" value="80"></progress></span>
                        <span class="ambitions-progress">C++ <progress max="100" value="30"></progress></span>
                        <span class="ambitions-progress">JavaScript <progress max="100" value="25"></progress></span>
                        <span class="ambitions-progress">SQL <progress max="100" value="60"></progress></span>
                        <span class="ambitions-progress">HTML5 <progress max="100" value="75"></progress></span>
                        <span class="ambitions-progress">CSS <progress max="100" value="50"></progress></span>
                    </div>
                </div>
                <hr class="vert">

                <div class="structure-block">
                    <div>
                        <h3>Контакты</h3>
                    </div>

                    <div class="ambitions-block">
                        <p>
                            +375(44)538-88-95<br>
                            toxa228f@gmail.com
                            toxa228f
                        </p>
                    </div>
                </div>
                <hr class="vert">
                <div class="structure-block">
                    <div>
                        <h3>Ссылка на GitHub</h3>
                    </div>
                    <div class="ambitions-block">
                        <p>
                            <a href="https://github.com/Toxa228f/" target="_blank">Мой GitHub</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>